<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316925808948-87278b7nkn540ch2h57gboi0521rq710.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316925808948-87278b7nkn540ch2h57gboi0521rq710</string>
	<key>API_KEY</key>
	<string>AIzaSyC1Ud_JgQY2RQRdLKqc5LbwuHCBNgjZcxs</string>
	<key>GCM_SENDER_ID</key>
	<string>316925808948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jake.Nosedive</string>
	<key>PROJECT_ID</key>
	<string>nosedive-51121</string>
	<key>STORAGE_BUCKET</key>
	<string>nosedive-51121.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316925808948:ios:2881ec732f670b354e1561</string>
	<key>DATABASE_URL</key>
	<string>https://nosedive-51121-default-rtdb.firebaseio.com</string>
</dict>
</plist>